/* Базовые настройки: Песочно-светлый фон и цвет хаки для текста */
body {
   background-image: url('../afiche/img/vichy-draw.png'); 
    
    /* Фиксация фона: это самое главное свойство */
    background-attachment: fixed; 
    
    /* Центрируем фон и запрещаем повторение */
    background-position: center;
    background-repeat: no-repeat;
    
    /* Растягиваем фон, чтобы он закрывал весь экран */
    background-size: cover;
    font-family: 'Courier Prime', Courier, monospace;
    color: #4b5332; /* Глубокий благородный хаки */
    line-height: 1.6;
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.journal-main {
background-color: #fff;
opacity: 90%;

}

/* Логотип: подстраиваем под общий тон */
header {
    margin-bottom: 60px;
    opacity: 0.9;
}

.logo-ink {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    filter: sepia(0.5) contrast(1.2); /* Слегка тонируем лого под хаки */
}

/* Секции */
section {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ЗАГОЛОВКИ И КНОПКИ: Рамки цвета хаки */
h2, .sketch-btn {
    display: inline-block;
    border: 2px solid #4b5332; /* Рамка хаки */
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 12px 24px;
    background: #fdfcf8; /* Чуть светлее фона, как чистая наклейка */
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
    color: #4b5332;
    text-decoration: none;
    font-weight: bold;
}

/* Текст параграфов */
p {
    margin: 0 auto 15px auto;
    max-width: 650px;
}

/* ЛИСТОЧКИ: Светлые вставки на песочном фоне */
.note-paper {
    background: #fdfcf8; /* Цвет слоновой кости */
    border: 1px solid #c5c2b5; /* Тонкая рамка в тон фона */
    padding: 30px;
    margin: 20px auto;
    box-shadow: 6px 6px 0px rgba(75, 83, 50, 0.1); /* Тень в оттенке хаки */
    max-width: 600px;
    text-align: left;
}

/* Жирный текст в стиле хаки */
strong {
    color: #353b24; /* Более темный хаки для акцентов */
}

/* ФУТЕР */
footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.sketch-btn {
    cursor: pointer;
    transition: all 0.2s ease;
}

.sketch-btn:hover {
    background: #4b5332; /* При наведении кнопка заливается цветом хаки */
    color: #f2efe4; /* Текст становится цвета фона */
    transform: scale(1.05);
}

/* Убираем стандартные стили для тега button */
button.sketch-btn {
    font-family: inherit;
    font-size: 1rem;
}

.fot {
     display: block;
    padding: 12px 24px;
    background: #fdfcf8; /* Чуть светлее фона, как чистая наклейка */
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
    color: #4b5332;
    text-decoration: none;
    font-weight: bold;
}